<h1>Please sign in</h1>

<li ng-repeat='item in students'>
    {{ item.name }} <button ng-click="signIn(item)" ng-show="!item.signedin">Sign In</button><button ng-click="signOut(item)" ng-show="item.signedin">Sign Out</button>
</li>

<h2 ng-show="here.length">Here</h2>

<li ng-repeat="item in here = ( students | filter:{signedin:true} )">
    {{ item.name }}
</li>

<h2 ng-show="nothere.length">Not here</h2>
<li ng-repeat="item in nothere = ( students | filter:{signedin:false} )">
    {{ item.name }}
</li>
<a ui-sref='attendance'><button>Who's here</button></a>
